<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Allenatore</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/x-icon" href="/img/Logo_ritagliato_45.png">
</head>

<body>

  <header>
    <div class="header-container">
      <div class="login-container">
        <h1>Football Manager</h1>
        <img src="/img/Logo_ritagliato_45.png" alt="logoSerieA" class="logo-image">
      </div>
    </div>

    <section id="welcome-message-allenatore">
      <h1>Bevenuto nella sezione Allenatore: <span th:text="|${allenatore.nome} ${allenatore.cognome}|"></span></h1>
      <h2>Squadra: <span th:text="${squadra.nome}"></span></h2>
    </section>

    <nav>
      <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/loginpage}">Login</a></li>
        <li><a href="#">Registati</a></li>
        <li><a th:href="@{/contattaci}">Contattaci</a></li>
      </ul>
    </nav>

  </header>

  <main>
    <section class="allenatore-button-container">

      <div class="allenatore-formazione">
        <a th:href="|/areaFormazione/${allenatore.id}|" target="_blank"><button class="allenatore-button">Inserisci
            Formazione</button></a>
      </div>

      <div class="allenatore-simula">
        <a th:href = "|/incontricasuali/${allenatore.id}|" target="_blank">
        <button class="allenatore-button">Simula Partita</button>
      </div>


    </section>

    <section class="team-section-allenatore">
      <h2>La Tua Squadra!</h2>
      <div class="team-container-allenatore">
        <div class="team-allenatore">

          <p><span id="squadra-nome" th:text="${squadra.nome}"></span></p>
        </div>
      </div>
    </section>
    <button class="dirigente-vendita-button" onclick="goBack()">Torna Indietro</button>
  </main>

  <footer class="footer-allenatore">
    <p>© 2023 Football Manager Online. Tutti i diritti riservati.</p>
  </footer>
</body>

<script src="/js/squadra.js"></script>
<script src="/js/TornaIndietro.js"></script>

</html>