<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/x-icon" href="/img/Logo_ritagliato_45.png">
</head>

<body>


  <header>
    <div class="header-container">
      <div class="login-container">
        <h1>Football Manager</h1>
        <img src="/img/Logo_ritagliato_45.png" alt="logoSerieA" class="logo-image">
      </div>
    </div>
    
    <nav>
      <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/loginpage}">Login</a></li>
        <li><a href="#">Registati</a></li>
        <li><a th:href="@{/contattaci}">Contattaci</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="welcome-home" id="colorChangeHome">
      <section class="main-text-dirigente-container">
        <h2>Benvenuto in Football Manager Online!</h2>
        <p>Prendi il controllo della tua squadra preferita e portala alla vittoria!</p>
      </section>
    </div>
  


    <section class="team-section">
      <div class="team-title-container">
        <h2 class="title-home">Le Squadre</h2>
      </div>
      <div class="team-container">
        <div class="team" id="milan">
          <img src="/img/milan.jpg" alt="AC Milan">
          <p>AC Milan</p>
        </div>
        <div class="team" id="inter">
          <img src="/img/inter.webp" alt="Inter Milan">
          <p>Inter Milan</p>
        </div>
        <div class="team" id="roma">
          <img src="/img/roma.jpg" alt="AS Roma">
          <p>AS Roma</p>
        </div>
        <div class="team" id="napoli">
          <img src="/img/napoli.jfif" alt="SSC Napoli">
          <p>SSC Napoli</p>
        </div>
        <div class="team" id="lazio">
          <img src="/img/lazio.jpg" alt="SS Lazio">
          <p>SS Lazio</p>
        </div>
      </div>
    </section>
    <button class="dirigente-vendita-button" onclick="goBack()">Torna Indietro</button>
  </main>
  
  <footer class="footer-home">
    <p>© 2023 Football Manager Online. Tutti i diritti riservati.</p>
  </footer>

</body>
<script src="/js/app.js"></script>
<script src="/js/TornaIndietro.js"></script>
</html>